////
/// @group VFX
/// @author [Carlos Araya](http://publishing-project.rivendellweb.net/)
////

/// Cool gradient
/// @access public
$cool-grad: linear-gradient(aqua, royalblue);
/// Red Gradient
/// @access public
$meh-grad: linear-gradient(tomato, transparent);
/// Orange to blue gradient
/// @access public
$snarky-grad: linear-gradient(orange 75%, blue);
/// Provides a basic css blend  between an image and the background color
/// @link http://sassbreak.com/css-blend-modes-with-sass/
/// @link http://publishing-project.rivendellweb.net/getting-fancy-blend-modes/
/// @example
///   .blend {
///  @include blendy("http://sassbreak.com/assets/mountains.jpg", $grad: $cool-grad);
///  width: 200px;
///  height: 200px;
///  border-radius: 50%;
///  background-size: cover;
///  margin: 1.5em auto;
/// }
/// @access public
/// @param {String} $img - image to blend.
/// @param {String} $color [null] - color to blend with
/// @param {String} $grad [null] - gradient to use
/// @param {String} $blend [multiply] - what blending mode to use
@mixin blendy($img, $color: null, $grad: null, $blend: multiply) {
  $img-path: url('#{$img}');
  @if $grad {
    background: $grad, $img-path;
  } @else {
    background-image: $img-path;
    background-color: $color;
  }
  background-blend-mode: $blend;
}

/// Provides a basic css blend  between 2 images (can be increased to more)
/// @link http://publishing-project.rivendellweb.net/getting-fancy-blend-modes/
/// @access public
/// @param {String} $img1 [null]- image to blend.
/// @param {String} $img2 [null] - image to blend.
/// @param {String} $bgrepeat1 [repeat-x] - First image background repeat
/// @param {String} $bgrepeat2 [no-repeat] - Second image background repeat
/// @param {String} $bgsize1 [auto] - Size of the first image's background
/// @param {String} $bgsize2 [auto] - Size of the second image's background
/// @param {String} $position1 [center bottom] - Position of the first image
/// @param {String} $position2 [left top] - Position of the second image
/// @param {String} $bg-blendmode1 [multiply] - Blend mode for the first image
/// @param {String} $bg-blendmode2 [normal] - Blend mode for the second image
@mixin img-blendy(
  $img1: null,   $img2: null,
  $bgrepeat1: repeat-x, $bgrepeat2: no-repeat,
  $bgsize1: auto, $bgsize2: auto,
  $bgposition1: center bottom, $bgposition2: left top,
  $bg-blendmode1: multiply, $bg-blendmode2: normal) {
    @if (variable-exists($img1) and variable-exists($img2)){
      background: url(#{img1}), url(#{img2});
    }
    @else {
      @error "one or both of #{$img1} and #{$img2} not found. Both are needed for the blend";
    }
    background-repeat: $bgrepeat1 $bgrepeat2;
    background-size: $bgsize1 $bgsize2;
    background-position: $bgposition1 $bgposition2;
    background-blend-mode: $bg-blendmode1 $bg-blendmode2;
  }



