/// Media query to handle iPhone 3 and other non-retina fonts
/// @access public
/// @param {String} $font-family [sourcecodepro-medium-webfont] - font family to use as primary.
/// @param {String} $bgcolor [#666] - background color
/// @param {String} $color [white] - text-color
/// @param {String} $padding [20px] - padding amount
/// @param {String} $whitespace [pre] - how to handle white space
@mixin iphone3($orientation: all) {
 $deviceMinWidth: 320px;
 $deviceMaxWidth: 480px;
 $devicePixelRatio: 1;

@if $orientation == all {
  @media only screen and (min-device-width: $deviceMinWidth)
    and (max-device-width: $deviceMaxWidth)
    and (-webkit-device-pixel-ratio: $devicePixelRatio) {
      @content;
   }
}
@else {
   @media only screen and (min-device-width: $deviceMinWidth)
    and (max-device-width: $deviceMaxWidth)
    and (-webkit-device-pixel-ratio: $devicePixelRatio)
    and (orientation:#{$orientation}) {
      @content;
    }
  }
}


