////
/// @group Media Queries
/// @author [Carlos Araya](http://publishing-project.rivendellweb.net/)
////

/// Media query to handle iPhone 3 and other non-retina devices
/// @access public
/// @param {String} $orientation [all] - is the device in portrait or landscape mode or do we use this query for both?
/// @param {String} $deviceMinWidth [320px] - minimum device size
/// @param {String} $deviceMaxWidth [480px] - maximum device size
/// @param {String} $devicePixelRatio [1] - pixels by physical pixel
@mixin iphone3($orientation: all) {
 $deviceMinWidth: 320px;
 $deviceMaxWidth: 480px;
 $devicePixelRatio: 1;

@if $orientation == all {
  @media only screen and (min-device-width: $deviceMinWidth)
    and (max-device-width: $deviceMaxWidth)
    and (-webkit-device-pixel-ratio: $devicePixelRatio) {
      @content;
   }
}
@else {
   @media only screen and (min-device-width: $deviceMinWidth)
    and (max-device-width: $deviceMaxWidth)
    and (-webkit-device-pixel-ratio: $devicePixelRatio)
    and (orientation:#{$orientation}) {
      @content;
    }
  }
}


