////
/// @group Media Queries
/// @author [Carlos Araya](http://publishing-project.rivendellweb.net/)
////


/// Generic media query to handle devices
/// @access public
/// @param {String} $orientation [all] - device orientation.
/// @param {String} $deviceMinWidth [320px] - no smaller than
/// @param {String} $deviceMaxWidth [480px] - no bigger than
/// @param {String} $devicePixelRatio [1] - pixel density (retina or not)
@mixin generic-mq(
  $orientation: all,
  $deviceMinWidth: 320px,
  $deviceMaxWidth: 480px,
  $devicePixelRatio: 1) {
@if $orientation == all {
  @media only screen and (min-device-width: $deviceMinWidth)
    and (max-device-width: $deviceMaxWidth)
    and (-webkit-device-pixel-ratio: $devicePixelRatio) {
      @content;
   }
}
@else {
   @media only screen and (min-device-width: $deviceMinWidth)
    and (max-device-width: $deviceMaxWidth)
    and (-webkit-device-pixel-ratio: $devicePixelRatio)
    and (orientation:#{$orientation}) {
      @content;
    }
  }
}

