////
/// @group Typography
/// @author [Carlos Araya](http://publishing-project.rivendellweb.net/)
////



/// Generates Google Font links only if a given variable is available
///
/// @example css styles
///   body {
///     font-family: $stack-lato;
///   }
///
///   h1 {
///     font-family: $stack-pt-serif;
///   }
/// @access public
@function conditional_font_load {
  $font-google-prim : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700';
  $font-google-sec  : 'http://fonts.googleapis.com/css?family=PT+Serif:400,700';

  // Font Stacks
  $stack-lato       : 'Lato', sans-serif;
  $stack-pt-serif   : 'PT Serif', serif;
  @if variable-exists(font-google-prim) {
    @import url($font-google-prim);
  }

  @if variable-exists(font-google-sec) {
    @import url($font-google-sec);
  }
}

