////
/// @group Typography
/// @author [Carlos Araya](http://publishing-project.rivendellweb.net/)
////

/// Generates the necessary font-face declarations to handle most, if not all modern browsers. The only browsers not supported by the mixin are those that require eot lite
/// @example css styles
///body {
///  font-family: $stack-lato;
///}
///
///h1 {
///  font-family: $stack-pt-serif;
///}
/// @access public
// Font URLs
$font-google-prim : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700';
$font-google-sec  : 'http://fonts.googleapis.com/css?family=PT+Serif:400,700';

// Font Stacks
$stack-lato       : 'Lato', sans-serif;
$stack-pt-serif   : 'PT Serif', serif;

@function conditional_load() {
  // Import if Google Font URLs are defined
  @if variable-exists(font-google-prim) {
    @import url($font-google-prim);
  }
  @if variable-exists(font-google-sec) {
    @import url($font-google-sec);
  }
}


