/*
CSS styles for sample ebook
Author: Carlos Araya
Date: 073014
*/
@import "_variables";
@import "_mixins";

@import "_modular-scale";

//@import "bitters/_variables";
//@import "bitters/_typography";

/*
Font assignments for different elements
*/
.fontface body {
  @include font-declaration('Lato Regular', 'fonts/Lato-Reg', normal, normal);
}

h1, h2, h3, h4, h5, h6,
{
  @include font-declaration('Lato Bold', 'fonts/Lato-Bol', 700, normal);
}

/*
Default font setup for the body of the document. Set up 1em margin to make sure text doesn't hit the border of the page while reading. Not an issue with all readers but
*/
html {
  font-size:  100%;
  line-height: 1.75;
  margin: 1em;
}

/*
Headings other attributes

Set up each heading as x number of steps in the modulat scale and
then assign attributes as appropriate. Kept it at 4 levels as that's usually
as many levels as I go through in a non technical document

Also setup h4 to be all uppercase to differentiate it from body text which
is the same size
*/

h1 {
  font-size: ms(4, 1em 2em, $golden);
  border-bottom: 5px solid #903;
}

h2 {
  font-size: ms(3, 1em 2em, $golden);
}

h3 {
  font-size: ms(2, 1em 2em, $golden);
}

h4 {
  font-size: ms(1, 1em 2em, $golden);
  text-transform: uppercase;
}


.titlepage {
  margin: 0 auto;
  text-align: center
}

.first-letter {
  float: left;
  color: #903;
  line-height: 100%;
  font-size: 341%;
  margin-right: 0.075em;
  margin-top:-0.22em;
  height:0.8em;
}

div.extract-rw {
  width: 75%;
  text-align: center;
  border: 1px solid #903;
  margin-bottom: 10px
}

p.source-rw {
  font-weight: bold;
  font-style: italic;
}


figure {
  border: 0;

  p {
    font-size: 60%;
    font-weight: 600;
  }
}
//@debug ms-list(1, 7, 1em 2em, $golden);
